{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>SCOREX Leaderboard </h2>
        <table class="leaderboard-table">

            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Game</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in ranked_scores %}
                <tr>
                    <td>{{ entry.rank }}</td>
                    <td>{{ entry.player }}</td>
                    <td>{{ entry.game }}</td>
                    <td>{{ entry.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button-container">
            <a href="{% url 'home' %}"><button> Back to Home</button></a>
        </div>
    </div>
</body>
</html>
